body{
    background-color: rgb(0, 0, 0);
}
.gifs{
margin: 0 auto;
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.gif{
    padding: 0 2px ; 
}



@import url(https://fonts.googleapis.com/css?family=Roboto:100);





#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(80, 91, 169, 0.3);
  border-radius: 50%;
  border-top-color: rgb(140, 44, 44);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}